/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-base, sans-serif);
  font-size: var(--card-text-size, 18px);
  font-variation-settings: 'wght' var(--card-text-weight, 400), 'slnt' 0;
  color: var(--themes-color-main, #000);
}

.header {
  text-align: center;
  border: 2px var(--themes-color-main, #000) solid;
  margin-block: 100px;
}

.header--responsive-width {
  width: clamp(375px, 50vw, var(--section-max-width, 700px)); /* Резиновая ширина */
  margin-inline: auto; /* Центрирование */
  /* padding: clamp(120px, 50vh, 128px) 0; */
  padding: 128px 0; /*ToDo заменить на формулу */
}

.header__logo {
  font-family: var(--font-family-accent, monospace);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--font-family-accent, monospace);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-start: 20px;
}

.card {
  border: 2px var(--themes-color-main, #000) solid;
	background-color: var(--background-color);
}

.card--responsive-width {
  width: clamp(375px, 50vw, var(--section-max-width, 700px)); /* Резиновая ширина */
  margin-inline: auto; /* Центрирование */
}

.card__title {
  padding: 5px 10px;
  font-size: var(--card-text-size, 18px);
  font-variation-settings: 'wght' var(--card-title-weight, 700);
	border-block-end: 2px var(--themes-color-main, #000) solid;
}

.card__cover {
	position: relative;
	border-bottom: 2px solid var(--content-color);
}

.cover__image {
	display: block;
	object-fit: cover;
	object-position: center;
	inline-size: 100%;
	aspect-ratio: 1/1;
}

.cover__label {
  font-family: var(--font-family-accent, monospace);
  font-size: 14px;
  color: var(--themes-color-main, #000);
  opacity: .5;
  position: absolute;
  inset-block-start: 25px;
	inset-inline-end: 25px;
  z-index: 1;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--background-color, #fff),
    0 1px var(--background-color, #fff),
    1px 0 var(--background-color, #fff),
    0 -1px var(--background-color, #fff);
}

@supports (text-stroke: 1px var(--background-color, #fff)) or
	(-webkit-text-stroke: 1px var(--background-color, #fff)) {
	.cover__label {
		text-shadow: none;
		-webkit-text-stroke: 1px var(--background-color, #fff);
		text-stroke: 1px var(--background-color, #fff);
	}
}


.card__text {
  display: flex;
  flex-flow: wrap column;
  padding: 25px;
  gap: 25px;
}
