/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-base: 'Inter-Variable'; /* Для основного интерфейсного шрифта */
  --font-family-accent: 'PressStart2P'; /* Для пиксельного шрифта */
  --card-text-weight: 400; /* Толщина основного текста карточки */
  --card-title-weight: 700; /* Толщина заголовка карточки */
  --card-text-size: 18px; /* Размер текста основного контента карточки */
  --dialog-text-size: 14px; /* Размер текста диалогового окна */

  --section-max-width: 700px; /* Максимальная ширина секции для больших экранов */

  --themes-color-main: #000; /*Основной цвет*/

  --background-color: #fff;

  --icon-outline-color: #000;
  --icon-accent-fill-color: #f00;
  
  --background-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}